<% include templates/head.ejs %>

<body class="fixed-nav sticky-footer" id="page-top">
  <!-- Navigation-->
  <% include templates/navigation.ejs %>
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <% include templates/breadcrumbs.ejs %>
		<!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6"><i class="fa fa-table"></i> Articles</div>
            <div class="col-md-6 text-right"><a href="/post/add" class="fa fa-plus btn btn-warning"> Create New Post</a> </div>
          </div>
          
        </div>
        <div class="card-body">
          <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Description</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th width="20%">Title</th>
                  <th>Category</th>
                  <th width="40%">Description</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th class="text-center" width="15%">Action</th>
                </tr>
                </tr>
              </tfoot>
              <tbody>
                <% for(var i =0; i<posts.length; i++) { %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><img height="50px" width="50px" src="/img/uploads/<%= posts[i].image %>" /></td>
                  <td><%= posts[i].title %></td>
                  <td><%= posts[i].category %></td>
                  <td><%- posts[i].short_description %></td>
                  <td><%= new Date(posts[i].created_at).toDateString() %></td>
                  <td><%= new Date(posts[i].updated_at).toDateString() %></td>
                  <td class="text-center">
                      <a href="/article/<%= posts[i].slug %>" target="_blank" class="btn btn-success"><i class="fa fa-eye"></i></a>
                      <a href="/post/edit/<%= posts[i].slug %>" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                      <a href="#" class="delete_post_btn btn btn-danger" postslug="<%= posts[i].slug %>"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
	  <!-- /tables-->
	  </div>
	  <!-- /container-fluid-->
   	</div>
    <!-- /container-wrapper-->
    <!-- Logout Modal-->
    <div class="modal fade" id="delete_post_modal" tabindex="-1" role="dialog" aria-labelledby="delete_post_modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Agree" below if you are ready to delete this post.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal" style="cursor: pointer">Cancel</button>
            <form method="POST" action="post/delete">
              <input type="hidden" id="deletable_postslug" name="deletable_postslug"/>
              <input type="submit" class="btn btn-primary" value="Agree" style="cursor: pointer" >
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include templates/footers.ejs %>
	
</body>
</html>
