<% include templates/head.ejs %>

<body>
	
	<% include templates/main_menu.ejs %>
	<!-- /main_menu -->
	
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Articles</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-9">
					<% if(posts.length == 0) { %>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
							  <a style='color:darkred;'>No Data Found</a>
							</li>
						</ol>
					<% }else { %>

						<% posts.forEach(function(post){ %>
						<article class="blog wow fadeIn">
							<div class="row no-gutters">
								<div class="col-lg-7">
									<figure>
										<a title="<%= post.title %>" target="_blank" href="<% if(typeof post.external_link == 'undefined' || post.external_link == ""){%>/post/get/<%= post._id %><%}else{%><%= post.external_link %><%} %>"><img src="/img/uploads/<%= post.image %>" alt="<%= post.title %>">
											<div class="preview"><span>Read more</span></div>
										</a>
									</figure>
								</div>
								<div class="col-lg-5">
									<div class="post_info">
										<small><%= new Date(post.created_at).toDateString() %></small>
										<h3 class="text-left"><a target="_blank"  title="<%= post.title %>" href="<% if(typeof post.external_link == 'undefined' || post.external_link == ""){%>/post/get/<%= post._id %><%}else{%><%= post.external_link %><%} %>"><%= post.title %></a></h3>
										<p class="text-left"><%= post.short_description.substring(0,130) %>. . .</p>
										<ul>
											<li>
												<div class="thumb"><img src="/img/photo.jpg" alt=""></div> <%= post.created_by %>
											</li>
											<li><% if(typeof post.external_link == 'undefined' || post.external_link == ""){ %>
												<i class="icon_comment_alt"></i> <% if(typeof post.comments == 'undefined'){%>0<% }else{%><%= post.comments.length %><% } %>
											<% }else{ %> 
												<i class="text-danger icon-link-ext"></i> 
											<% } %></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
						<% }) %>
						<nav aria-label="...">
							<ul class="pagination pagination-sm">
								<li class="page-item <% if(page_number==1){%>disabled<%}%>" style="list-style-image: none">
									<% if(page_number==1){ %>
										<a class="page-link" href="#" tabindex="-1">Previous</a>
									<%}else{%>
										<a class="page-link"  href="/blog/<%= page_number-1 %>" tabindex="-1">Previous</a>
									<%}%>
								</li>
								<% for(i=1;i<=post_count;i++){ %>
									<% if(i>20){%>
										<% continue %>
									<% }else{ %>
										<li class="page-item " style="list-style-image: none"><a class="page-link" <% if(i==page_number){%>style="color:black;"<%} %> <% if(i!=page_number){%> href="/blog/<%= i %>"<%} %>><%= i %></a></li>
									<% } %>
								
								<% } %>
								<li class="page-item <% if(page_number==post_count){%>disabled<%}%>"" style="list-style-image: none">
									<% if(page_number==post_count){ %>
										<a class="page-link" href="#" tabindex="-1">Next</a>
									<%}else{%>
										<a class="page-link"  href="/blog/<%= parseInt(page_number)+1 %>" tabindex="-1">Next</a>
									<%}%>
								</li>
							</ul>
						</nav>
						<!-- /pagination -->
					<% } %>
					
				</div>
				<!-- /col -->

				<aside class="col-lg-3">
					
					<!-- /widget -->
					<% include templates/recent_posts.ejs %>
					<!-- /widget -->
					<% include templates/categories_aside.ejs %>
					
				</aside>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	
	<% include templates/footer.ejs %>

</body>
</html>