<% include templates/head.ejs %>

<body>
	
	<% include templates/main_menu.ejs %>
	<!-- /main_menu -->
	
	<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span>Articles</h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-9">
					<% if(posts.length == 0) { %>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
							  <a style='color:darkred;'>No Data Found</a>
							</li>
						</ol>
					<% }else { %>

						<% posts.forEach(function(post){ %>
						<article class="blog wow fadeIn">
							<div class="row no-gutters">
								<div class="col-lg-7">
									<figure>
										<a href="/post/get/<%= post._id %>"><img src="/img/uploads/<%= post.image %>" alt="<%= post.title %>">
											<div class="preview"><span>Read more</span></div>
										</a>
									</figure>
								</div>
								<div class="col-lg-5">
									<div class="post_info">
										<small><%= new Date(post.created_at).toDateString() %></small>
										<h3 class="text-left"><a href="/post/get/<%= post._id %>"><%= post.title %></a></h3>
										<p class="text-left"><%= post.short_description %></p>
										<ul>
											<li>
												<div class="thumb"><img src="/img/uploads/<%= post.image %>" alt=""></div> <%= post.created_by %>
											</li>
											<li><i class="icon_comment_alt"></i> <% if(typeof post.comments == 'undefined'){%>0<% }else{%><%= post.comments.length %><% } %></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
						<% }) %>
						<!--nav aria-label="...">
							<ul class="pagination pagination-sm">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Previous</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</nav-->
						<!-- /pagination -->
					<% } %>
					
				</div>
				<!-- /col -->

				<aside class="col-lg-3">
					
					<!-- /widget -->
					<% include templates/recent_posts.ejs %>
					<!-- /widget -->
					<% include templates/categories_aside.ejs %>
					
				</aside>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	
	<% include templates/footer.ejs %>

</body>
</html>