<% include ../templates/head.ejs %>

<body class="fixed-nav sticky-footer" id="page-top">
  <!-- Navigation-->
  <% include ../templates/navigation.ejs %>
  <!-- /Navigation-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <% include ../templates/breadcrumbs.ejs %>
        <form method="POST" action="/admin/course/update" enctype="multipart/form-data">
        	<input type="hidden" name="course_id" id="course_id" value="<%= courses[0]._id %>">
        	<div class="row">
				<div class="col-md-8">
					<div class="box_general padding_bottom">
						<div class="header_box version_2">
							<h2><i class="fa fa-file"></i>Basic info</h2>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Course Title</label>
									<input type="text" class="form-control" placeholder="Course Title" name="title" value="<%= courses[0].title %>">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Category</label>
									<select name="category[]" multiple class="selectjs">
										<% options.forEach(function(option){ %>
												<option <% if(courses[0].category.indexOf(option.name) != -1){%> selected <%}%> value="<%= option.name %>"><%= option.name.toUpperCase() %></option>
										<% }) %>
									</select>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label>Price</label>
									<input type="text" class="form-control" placeholder="Price" name="price" value="<%= courses[0].price %>">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Regular Price</label>
									<input type="text" class="form-control" placeholder="Regular Price" name="regular_price" value="<%= courses[0].regular_price %>">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label>Short Description <a href="#0" data-toggle="tooltip" data-placement="top" title="Maximum 300 character allowed."><i class="fa fa-fw fa-question-circle"></i></a></label>
									<textarea class="form-control" placeholder="Description" style="height: 100px;" name="short_description" id="short_description"><%= courses[0].short_description %></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label>Video Link <span style="font-weight:bold" class="text-danger">*</span> <a href="#0" data-toggle="tooltip" data-placement="top" title="Upload relavant video link."><i class="fa fa-fw fa-question-circle"></i></a></label>
									<input type="text" class="form-control" placeholder="Video Link" name="video_link" value="<%= courses[0].video_link %>" required>
								</div>
							</div>
						</div>
					</div>
					<!-- /box_general-->
					
					<div class="box_general padding_bottom">
						<div class="header_box version_2">
							<h2><i class="fa fa-file-text"></i>Description</h2>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Article Details</label>
									<textarea rows="5" class="form-control" style="height:100px;" id="editor" placeholder="Description" name="description"><%= courses[0].description %></textarea>
								</div>
							</div>
						</div>
						
					</div>
					<!-- /box_general-->
					<p><input type="submit" class="btn_1 medium" value="Save"></p>
				</div>
				<div class="col-md-4">
					<div class="box_general padding_bottom">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<img width="100%" src="/img/courses/uploads/<%= courses[0].image %>" />
								</div>
							</div>
						</div>
					</div>
					<div class="box_general padding_bottom">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Featured Image <a href="#0" data-toggle="tooltip" data-placement="top" title="Upload relavant image for this article."><i class="fa fa-fw fa-question-circle"></i></a></label>
									<input type="file" class="form-control" placeholder="Ex: Science, Biology..." name="post_file" id="post_file">
								</div>
							</div>
						</div>
					</div>
					<div class="box_general padding_bottom">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Learning Outcomes </label>
									<div class="box_general padding_bottom">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<div id="learning_outcomes_div">
															<% if(typeof courses[0].learning_outcomes == 'undefined' || courses[0].learning_outcomes.length == 0){%>
																No learning outcome listed
															<% } else {
																courses[0].learning_outcomes.forEach(function(outcome, key){ %>
																<div class='alert <%if (key%2==0){%>alert-success<%}else{%>alert-primary<%}%>'>
																		<div class="row">
																			<div class="col-md-6" >
																			<span style="font-weight:bold;text-decoration:underline;"><%= outcome.learning_outcomes %></span>
																			<span style="text-decoration:none;cursor:pointer;" class="text-danger delete_outcome_btn" outcome_id_="<%= outcome.outcome_id %>" ><i class="fa fa-trash"></i></span>
																			</div>
																			
																		</div>
																		<div class="row">
																			<div class="col-md-12"><%= outcome.message %></div>
																		</div>
																</div>
															<% })} %>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											
											<input type="text" class="form-control" placeholder="Learning Outcomes" name="learning_outcomes" id="learning_outcomes" >
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											
										<input type="button" class="btn_1 medium" id="learning_outcomes_btn" value="Add Outcome">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box_general padding_bottom">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Lessons</label>
									<div class="box_general padding_bottom">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<div id="learning_lessons_div">
															<% if(typeof courses[0].lessons == 'undefined' || courses[0].lessons.length == 0){%>
																No lessons listed
															<% } else {
																courses[0].lessons.forEach(function(lesson, key){ %>
																<div class='alert <%if (key%2==0){%>alert-success<%}else{%>alert-primary<%}%>'>
																		<div class="row">
																			<div class="col-md-6" >
																			<span style="font-weight:bold;text-decoration:underline;"><%= lesson.lessons %></span>
																			<span style="text-decoration:none;cursor:pointer;" class="text-danger delete_lesson_btn" lesson_id_="<%= lesson.lesson_id %>" ><i class="fa fa-trash"></i></span>
																			</div>
																			
																		</div>
																		<div class="row">
																			<div class="col-md-12"><%= lesson.message %></div>
																		</div>
																</div>
															<% })} %>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											
											<input type="text" class="form-control" placeholder="Course Lesson" name="course_lesson" id="course_lesson">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											
										<input type="button" class="btn_1 medium" id="learning_lesson_btn" value="Add Lesson">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</form>	
	  </div>
	    <div class="modal fade" id="delete_outcome_modal" tabindex="-1" role="dialog" aria-labelledby="delete_post_modal" aria-hidden="true">
	      <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
	            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	              <span aria-hidden="true">×</span>
	            </button>
	          </div>
	          <div class="modal-body">Select "Agree" below if you are ready to delete this learning outcome.</div>
	          <div class="modal-footer">
	            <button class="btn btn-secondary" type="button" data-dismiss="modal" style="cursor: pointer">Cancel</button>
	            <form method="POST" action="/admin/course/outcome/delete">
	              <input type="hidden" id="deletable_outcome_id" name="deletable_outcome_id"/>
	              <input type="hidden" id="course_id" name="course_id" value="<%= courses[0]._id %>" />
	              <input type="submit" class="btn btn-primary" value="Agree" style="cursor: pointer" >
	            </form>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="modal fade" id="delete_lesson_modal" tabindex="-1" role="dialog" aria-labelledby="delete_post_modal" aria-hidden="true">
	      <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
	            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	              <span aria-hidden="true">×</span>
	            </button>
	          </div>
	          <div class="modal-body">Select "Agree" below if you are ready to delete this lesson.</div>
	          <div class="modal-footer">
	            <button class="btn btn-secondary" type="button" data-dismiss="modal" style="cursor: pointer">Cancel</button>
	            <form method="POST" action="/admin/course/lesson/delete">
	              <input type="hidden" id="deletable_lesson_id" name="deletable_lesson_id"/>
	              <input type="hidden" id="course_id" name="course_id" value="<%= courses[0]._id %>" />
	              <input type="submit" class="btn btn-primary" value="Agree" style="cursor: pointer" >
	            </form>
	          </div>
	        </div>
	      </div>
	    </div>
	  
    </div>
	  <!-- /.container-fluid-->
   	</div>
    <!-- /.container-wrapper-->
    <% include ../templates/footers.ejs %>
	
</body>
</html>
